// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2026 SomLabs
 *
 */
#include <dt-bindings/leds/common.h>
#include "spacesom-8mplus.dtsi"

/ {
        model = "SoMLabs AIoT Box iMX8MPlus";

        sound {
                /* generic sound card */
                compatible = "simple-audio-card";
                simple-audio-card,name = "nau8822";

                simple-audio-card,widgets =
                        "Headphones", "Headphones",
                        "Line Out", "Line Out",
                        "Speaker", "Speaker",
                        "Microphone", "Mic In";
                simple-audio-card,routing =
                        "Headphones", "LHP",
                        "Headphones", "RHP",
                        "Speaker", "LSPK",
                        "Speaker", "RSPK",
                        "Line Out", "AUXOUT1",
                        "Line Out", "AUXOUT2",
                        "LMICP",    "Mic In",
                        "RMICP",    "Mic In";

                simple-audio-card,format = "i2s";
                simple-audio-card,bitclock-master = <&dailink_master>;
                simple-audio-card,frame-master = <&dailink_master>;

                simple-audio-card,cpu {
                        sound-dai = <&sai3>;
                };

                dailink_master: simple-audio-card,codec {
                        sound-dai = <&codec_nau8822>;
                        clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>;
                        clock-names = "mclk";
                };
        };

        sound-hdmi {
                compatible = "fsl,imx-audio-cdnhdmi";
                model = "audio-hdmi";
                audio-cpu = <&aud2htx>;
                hdmi-out;
                constraint-rate = <44100>,
                                <88200>,
                                <176400>,
                                <32000>,
                                <48000>,
                                <96000>,
                                <192000>;
                status = "okay";
        };
};

&eqos {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_eqos>;
        phy-mode = "rgmii-id";
        phy-handle = <&ethphy0>;
        snps,force_thresh_dma_mode;
        snps,mtl-tx-config = <&mtl_tx_setup>;
        snps,mtl-rx-config = <&mtl_rx_setup>;
        status = "okay";

        mdio {
                compatible = "snps,dwmac-mdio";
                #address-cells = <1>;
                #size-cells = <0>;

                ethphy0: ethernet-phy@1 {
                        compatible = "ethernet-phy-ieee802.3-c22";
                        reg = <1>;
                        eee-broken-1000t;
                        reset-gpios = <&gpio3 16 GPIO_ACTIVE_LOW>;
                        reset-assert-us = <10000>;
                        reset-deassert-us = <80000>;
                        realtek,clkout-disable;
                        interrupt-parent = <&gpio4>;
                        interrupts = <20 IRQ_TYPE_LEVEL_LOW>;
                };
        };

        mtl_tx_setup: tx-queues-config {
                snps,tx-queues-to-use = <5>;
                snps,tx-sched-sp;
                queue0 {
                        snps,dcb-algorithm;
                        snps,priority = <0x1>;
                };
                queue1 {
                        snps,dcb-algorithm;
                        snps,priority = <0x2>;
                };
                queue2 {
                        snps,dcb-algorithm;
                        snps,priority = <0x4>;
                };
                queue3 {
                        snps,dcb-algorithm;
                        snps,priority = <0x8>;
                };
                queue4 {
                        snps,dcb-algorithm;
                        snps,priority = <0xf0>;
                };
        };

        mtl_rx_setup: rx-queues-config {
                snps,rx-queues-to-use = <5>;
                snps,rx-sched-sp;
                queue0 {
                        snps,dcb-algorithm;
                        snps,priority = <0x1>;
                        snps,map-to-dma-channel = <0>;
                };
                queue1 {
                        snps,dcb-algorithm;
                        snps,priority = <0x2>;
                        snps,map-to-dma-channel = <1>;
                };
                queue2 {
                        snps,dcb-algorithm;
                        snps,priority = <0x4>;
                        snps,map-to-dma-channel = <2>;
                };
                queue3 {
                        snps,dcb-algorithm;
                        snps,priority = <0x8>;
                        snps,map-to-dma-channel = <3>;
                };
                queue4 {
                        snps,dcb-algorithm;
                        snps,priority = <0xf0>;
                        snps,map-to-dma-channel = <4>;
                };
        };
};

&fec {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_fec>;
        phy-mode = "rgmii-id";
        phy-handle = <&ethphy1>;
        fsl,magic-packet;
        status = "okay";

        mdio {
                #address-cells = <1>;
                #size-cells = <0>;

                ethphy1: ethernet-phy@1 {
                        compatible = "ethernet-phy-ieee802.3-c22";
                        reg = <1>;
                        eee-broken-1000t;
                        reset-gpios = <&gpio4 18 GPIO_ACTIVE_LOW>;
                        reset-assert-us = <10000>;
                        reset-deassert-us = <80000>;
                        realtek,aldps-enable;
                        realtek,clkout-disable;
                        interrupt-parent = <&gpio4>;
                        interrupts = <19 IRQ_TYPE_LEVEL_LOW>;
                };
        };
};

&iomuxc {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_hog>;

        pinctrl_hog: hoggrp {
                fsl,pins = <
                        MX8MP_IOMUXC_HDMI_DDC_SCL__HDMIMIX_HDMI_SCL     0x400001c3
                        MX8MP_IOMUXC_HDMI_DDC_SDA__HDMIMIX_HDMI_SDA     0x400001c3
                        MX8MP_IOMUXC_HDMI_HPD__HDMIMIX_HDMI_HPD         0x40000019
                        MX8MP_IOMUXC_HDMI_CEC__HDMIMIX_HDMI_CEC         0x40000019

                        MX8MP_IOMUXC_GPIO1_IO00__GPIO1_IO00             0x19
                        MX8MP_IOMUXC_GPIO1_IO01__GPIO1_IO01             0x19

                        MX8MP_IOMUXC_GPIO1_IO04__GPIO1_IO04             0x1c0
                        MX8MP_IOMUXC_GPIO1_IO05__GPIO1_IO05             0x1c0
                        MX8MP_IOMUXC_GPIO1_IO06__GPIO1_IO06             0x1c0
                        MX8MP_IOMUXC_GPIO1_IO07__GPIO1_IO07             0x1c0

                        MX8MP_IOMUXC_GPIO1_IO08__GPIO1_IO08             0x19
                        MX8MP_IOMUXC_GPIO1_IO09__GPIO1_IO09             0x19
                        MX8MP_IOMUXC_GPIO1_IO10__GPIO1_IO10             0x19
                        MX8MP_IOMUXC_GPIO1_IO11__GPIO1_IO11             0x19
                >;
        };

        pinctrl_eqos: eqosgrp {
                fsl,pins = <
                        MX8MP_IOMUXC_ENET_MDC__ENET_QOS_MDC                             0x3
                        MX8MP_IOMUXC_ENET_MDIO__ENET_QOS_MDIO                           0x3
                        MX8MP_IOMUXC_ENET_RD0__ENET_QOS_RGMII_RD0                       0x91
                        MX8MP_IOMUXC_ENET_RD1__ENET_QOS_RGMII_RD1                       0x91
                        MX8MP_IOMUXC_ENET_RD2__ENET_QOS_RGMII_RD2                       0x91
                        MX8MP_IOMUXC_ENET_RD3__ENET_QOS_RGMII_RD3                       0x91
                        MX8MP_IOMUXC_ENET_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK       0x91
                        MX8MP_IOMUXC_ENET_RX_CTL__ENET_QOS_RGMII_RX_CTL                 0x91
                        MX8MP_IOMUXC_ENET_TD0__ENET_QOS_RGMII_TD0                       0x1f
                        MX8MP_IOMUXC_ENET_TD1__ENET_QOS_RGMII_TD1                       0x1f
                        MX8MP_IOMUXC_ENET_TD2__ENET_QOS_RGMII_TD2                       0x1f
                        MX8MP_IOMUXC_ENET_TD3__ENET_QOS_RGMII_TD3                       0x1f
                        MX8MP_IOMUXC_ENET_TX_CTL__ENET_QOS_RGMII_TX_CTL                 0x1f
                        MX8MP_IOMUXC_ENET_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK       0x1f
                        MX8MP_IOMUXC_NAND_READY_B__GPIO3_IO16                           0x19    /* phy reset */
                        MX8MP_IOMUXC_SAI1_MCLK__GPIO4_IO20                              0x41    /* phy int */
                >;
        };

        pinctrl_fec: fecgrp {
                fsl,pins = <
                        MX8MP_IOMUXC_SAI1_RXD2__ENET1_MDC               0x3
                        MX8MP_IOMUXC_SAI1_RXD3__ENET1_MDIO              0x3
                        MX8MP_IOMUXC_SAI1_RXD4__ENET1_RGMII_RD0         0x91
                        MX8MP_IOMUXC_SAI1_RXD5__ENET1_RGMII_RD1         0x91
                        MX8MP_IOMUXC_SAI1_RXD6__ENET1_RGMII_RD2         0x91
                        MX8MP_IOMUXC_SAI1_RXD7__ENET1_RGMII_RD3         0x91
                        MX8MP_IOMUXC_SAI1_TXC__ENET1_RGMII_RXC          0x91
                        MX8MP_IOMUXC_SAI1_TXFS__ENET1_RGMII_RX_CTL      0x91
                        MX8MP_IOMUXC_SAI1_TXD0__ENET1_RGMII_TD0         0x1f
                        MX8MP_IOMUXC_SAI1_TXD1__ENET1_RGMII_TD1         0x1f
                        MX8MP_IOMUXC_SAI1_TXD2__ENET1_RGMII_TD2         0x1f
                        MX8MP_IOMUXC_SAI1_TXD3__ENET1_RGMII_TD3         0x1f
                        MX8MP_IOMUXC_SAI1_TXD4__ENET1_RGMII_TX_CTL      0x1f
                        MX8MP_IOMUXC_SAI1_TXD5__ENET1_RGMII_TXC         0x1f
                        MX8MP_IOMUXC_SAI1_TXD6__GPIO4_IO18              0x19    /* phy reset */
                        MX8MP_IOMUXC_SAI1_TXD7__GPIO4_IO19              0x41    /* phy int */
                >;
        };

        pinctrl_fec_1588: fec1588grp {
                fsl,pins = <
                        MX8MP_IOMUXC_SAI1_RXFS__ENET1_1588_EVENT0_IN    0x91
                        MX8MP_IOMUXC_SAI1_RXC__ENET1_1588_EVENT0_OUT    0x1f
                        MX8MP_IOMUXC_SAI1_RXD0__ENET1_1588_EVENT1_IN    0x91
                        MX8MP_IOMUXC_SAI1_RXD1__ENET1_1588_EVENT1_OUT   0x1f
                >;
        };

        pinctrl_rtc: rtcirq {
                fsl,pins = <
                        MX8MP_IOMUXC_GPIO1_IO03__GPIO1_IO03             0x1c0
                >;
        };

        pinctrl_sai3: sai3grp {
                fsl,pins = <
                        MX8MP_IOMUXC_SAI3_RXFS__AUDIOMIX_SAI3_RX_SYNC   0xd6
                        MX8MP_IOMUXC_SAI3_RXC__AUDIOMIX_SAI3_RX_BCLK    0xd6
                        MX8MP_IOMUXC_SAI3_RXD__AUDIOMIX_SAI3_RX_DATA00  0xd6
                        MX8MP_IOMUXC_SAI3_TXD__AUDIOMIX_SAI3_TX_DATA00  0xd6
                        MX8MP_IOMUXC_SAI3_MCLK__AUDIOMIX_SAI3_MCLK      0xd6
                >;
        };

        pinctrl_usdhc1_gpio: usdhc1gpiogrp {
                fsl,pins = <
                        MX8MP_IOMUXC_SD1_RESET_B__GPIO2_IO10            0x1c4
                >;
        };

        pinctrl_usdhc1: usdhc1grp {
                fsl,pins = <
                        MX8MP_IOMUXC_SD1_CLK__USDHC1_CLK                0x190
                        MX8MP_IOMUXC_SD1_CMD__USDHC1_CMD                0x1d0
                        MX8MP_IOMUXC_SD1_DATA0__USDHC1_DATA0            0x1d0
                        MX8MP_IOMUXC_SD1_DATA1__USDHC1_DATA1            0x1d0
                        MX8MP_IOMUXC_SD1_DATA2__USDHC1_DATA2            0x1d0
                        MX8MP_IOMUXC_SD1_DATA3__USDHC1_DATA3            0x1d0
                >;
        };

        pinctrl_uart2_rts: uart2rtsgrp {
                fsl,pins = <
                        MX8MP_IOMUXC_SD1_DATA5__GPIO2_IO07              0x19
                >;
        };
};

&usdhc1 {
        assigned-clocks = <&clk IMX8MP_CLK_USDHC1>;
        assigned-clock-rates = <400000000>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_usdhc1>, <&pinctrl_usdhc1_gpio>;
        cd-gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>;
        no-1-8-v;
        bus-width = <4>;
        fsl,delay-line = <8>;
        status = "okay";
};

&usb3_phy0 {
        status = "okay";
};

&usb3_0 {
        status = "okay";
};

&usb_dwc3_0 {
        hnp-disable;
        srp-disable;
        adp-disable;
        dr_mode = "peripheral";
        status = "okay";
};

&usb3_phy1 {
        status = "okay";
};

&usb3_1 {
        status = "okay";
};

&usb_dwc3_1 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_usb1_vbus>;
        dr_mode = "host";
        status = "okay";
};

&irqsteer_hdmi {
        status = "okay";
};

&hdmi_blk_ctrl {
        status = "okay";
};

&hdmi_pavi {
        status = "okay";
};

&hdmi {
        status = "okay";
};

&hdmiphy {
        status = "okay";
};

&aud2htx {
	status = "okay";
};

&lcdif3 {
        status = "okay";

        thres-low  = <1 2>;             /* (FIFO * 1 / 2) */
        thres-high = <3 4>;             /* (FIFO * 3 / 4) */
};

&sai3 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_sai3>;
        assigned-clocks = <&clk IMX8MP_CLK_SAI3>;
        assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
        assigned-clock-rates = <12288000>;
        clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIOMIX_SAI3_IPG>, <&clk IMX8MP_CLK_DUMMY>,
                 <&audio_blk_ctrl IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>, <&clk IMX8MP_CLK_DUMMY>,
                 <&clk IMX8MP_CLK_DUMMY>;
        clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3";
        fsl,sai-synchronous-rx;
        fsl,sai-mclk-direction-output;
        #sound-dai-cells = <0>;
        status = "okay";
};

&i2c2 {
        status = "okay";
        codec_nau8822: nau8822@1a {
                compatible = "nuvoton,nau8822";
                reg = <0x1a>;
                clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>;
                clock-names = "mclk";
                #sound-dai-cells = <0>;
                status = "okay";
        };

        rtc@51 {
            compatible = "nxp,pcf85263";
            reg = <0x51>;
            pinctrl-0 = <&pinctrl_rtc>;
            pinctrl-names = "default";
            interrupt-parent = <&gpio1>;
            interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
            wakeup-source;
        };
};

&flexcan1 {
        status = "okay";
};

&uart2 {
    pinctrl-0 = <&pinctrl_uart2 &pinctrl_uart2_rts>;
    rts-gpios = <&gpio2 7 GPIO_ACTIVE_HIGH>;
    linux,rs485-enabled-at-boot-time;
    status = "okay";
};

&uart3 {
    status = "okay";
};
