// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2020 SomLabs
 *
 */

#include "visionsom-8mm-cb-lt8912.dtsi"

/ {
    // sound-spdif {
    //     compatible = "fsl,imx-audio-spdif";
    //     model = "imx-spdif";
    //     spdif-controller = <&spdif1>;
    //     spdif-out;
    // };

    hdmi {
        compatible = "hdmi-connector";
        type = "a";

        port {
            hdmi_connector_in: endpoint {
                remote-endpoint = <&lt8912_hdmi_out>;
            };
        };
    };

};

&iomuxc {
    pinctrl-names = "default";

    pinctrl_spdif1: spdif1grp {
        fsl,pins = <
            MX8MM_IOMUXC_SPDIF_TX_SPDIF1_OUT    0xd6
        >;
    };
};

&i2c2 {
    /* MIPI-DSI to HDMI adapter */
    mipi_dsi_hdmi: lt8912@48 {
        ports {
            port@1 {
                reg = <1>;
                lt8912_hdmi_out: endpoint {
                    remote-endpoint = <&hdmi_connector_in>;
                };
            };
            port@3 {
                reg = <3>;
                lt8912_audio_in: endpoint {
                    remote-endpoint = <&spdif_audio_out>;
                };
            };
        };
    };
};

&spdif1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_spdif1>;
    assigned-clocks = <&clk IMX8MM_CLK_SPDIF1>;
    assigned-clock-parents = <&clk IMX8MM_AUDIO_PLL1_OUT>;
    assigned-clock-rates = <24576000>;
    clocks = <&clk IMX8MM_CLK_AUDIO_AHB>, <&clk IMX8MM_CLK_24M>,
        <&clk IMX8MM_CLK_SPDIF1>, <&clk IMX8MM_CLK_DUMMY>,
        <&clk IMX8MM_CLK_DUMMY>, <&clk IMX8MM_CLK_DUMMY>,
        <&clk IMX8MM_CLK_AUDIO_AHB>, <&clk IMX8MM_CLK_DUMMY>,
        <&clk IMX8MM_CLK_DUMMY>, <&clk IMX8MM_CLK_DUMMY>,
        <&clk IMX8MM_AUDIO_PLL1_OUT>, <&clk IMX8MM_AUDIO_PLL2_OUT>;
    clock-names = "core", "rxtx0", "rxtx1", "rxtx2", "rxtx3",
        "rxtx4", "rxtx5", "rxtx6", "rxtx7", "spba", "pll8k", "pll11k";
    status = "okay";

    port {
        spdif_audio_out: endpoint {
            remote-endpoint = <&lt8912_audio_in>;
        };
    };
};
