// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2020 SomLabs
 *
 */

#include "visionsom-imx93-cb-std.dtsi"

/ {
	model = "SoMLabs VisionSOM-IMX93 CB-STD/LVDS-RVT70HSLNWC00-B";

	lvds_panel {
		compatible = "riverdi,rvt70hslnwc00-b";
		backlight = <&lvds_panel_backlight>;

		port {
			panel_lvds_in: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};

	lvds_panel_backlight: lvds-panel-backlight {
		compatible = "gpio-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_panel_backlight_en>;
		gpios = <&gpio2 20 GPIO_ACTIVE_LOW>;
	};
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_lvds_in>;
			};
		};
	};
};

&ldb_phy {
	status = "okay";
};

&lpi2c1 {
	ili2132a_touch: ili2132a@41 {
		compatible = "ilitek,ili2132";
		reg = <0x41>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touch>;
		interrupt-parent = <&gpio2>;
		interrupts = <21 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";
	};
};

&epxp {
	status = "okay";
};

&iomuxc {
	pinctrl_panel_backlight_en: panel_backlight_en {
		fsl,pins = <
			MX93_PAD_GPIO_IO20__GPIO2_IO20                  0x31e
		>;
	};

	pinctrl_touch: touchgpio {
		fsl,pins = <
			MX93_PAD_GPIO_IO21__GPIO2_IO21                  0x31e
		>;
	};
};
