// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2020 SomLabs
 *
 */

/dts-v1/;

#include "visionsom-8mm-cb.dtsi"

/ {
    model = "SoMLabs VisionSOM i.MX8MM CB-ADV";

    sound {
        /* generic sound card */        //TODO: check it
        compatible = "simple-audio-card";
        simple-audio-card,name = "nau8822-cb-adv";

        simple-audio-card,widgets =
                "Headphones", "Headphones",
                "Line Out", "Line Out",
                "Speaker", "Speaker",
                "Microphone", "Mic In";
        simple-audio-card,routing =
                "Headphones", "LHP",
                "Headphones", "RHP",
                "Speaker", "LSPK",
                "Speaker", "RSPK",
                "Line Out", "AUXOUT1",
                "Line Out", "AUXOUT2",
                "LMICP",    "Mic In",
                "RMICP",    "Mic In";

        simple-audio-card,format = "i2s";
        simple-audio-card,bitclock-master = <&dailink_master>;
        simple-audio-card,frame-master = <&dailink_master>;

        simple-audio-card,cpu {
            sound-dai = <&sai3>;
        };

        dailink_master: simple-audio-card,codec {
            sound-dai = <&codec_nau8822>;
            clocks = <&clk IMX8MM_CLK_SAI3_ROOT>;
        };
    };

    clocks {
        can0_osc: can_clock {
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <20000000>;
        };

        pcie0_refclk: pcie0-refclk {
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <100000000>;
        };
    };

};

&iomuxc {
    pinctrl-names = "default";

    visionsom-imx8mm-cb-adv {

        pinctrl_sai3: sai3grp {
            fsl,pins = <
                MX8MM_IOMUXC_SAI3_MCLK_SAI3_MCLK            0x96
                MX8MM_IOMUXC_SAI3_TXFS_SAI3_TX_SYNC         0x96
                MX8MM_IOMUXC_SAI3_TXC_SAI3_TX_BCLK          0x96
                MX8MM_IOMUXC_SAI3_TXD_SAI3_TX_DATA0         0x96
                MX8MM_IOMUXC_SAI3_RXD_SAI3_RX_DATA0         0x96
                MX8MM_IOMUXC_SAI3_RXFS_SAI3_RX_DATA1        0x96
            >;
        };

        pinctrl_panel_reset_adv: panel_reset {
            fsl,pins = <
                MX8MM_IOMUXC_UART1_RXD_GPIO5_IO22           0x19
            >;
        };

        pinctrl_csi_pwn: camera_pwn {
            fsl,pins = <
                MX8MM_IOMUXC_SAI1_RXD6_GPIO4_IO8           0x19
            >;
        };

        pinctrl_ecspi2: ecspi2grp {
            fsl,pins = <
                MX8MM_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK        0x82
                MX8MM_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI        0x82
                MX8MM_IOMUXC_ECSPI2_MISO_ECSPI2_MISO        0x82
                MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13          0x19
            >;
        };

        pinctrl_can_int: can_interrupt_gpio {
            fsl,pins = <
                MX8MM_IOMUXC_SAI1_TXD4_GPIO4_IO16           0x01
            >;
        };

        pinctrl_uart3: uart3grp {
            fsl,pins = <
                MX8MM_IOMUXC_UART3_RXD_UART3_DCE_RX         0x0
                MX8MM_IOMUXC_UART3_TXD_UART3_DCE_TX         0x0
                MX8MM_IOMUXC_ECSPI1_MISO_UART3_DTE_RTS_B    0x0
                MX8MM_IOMUXC_ECSPI1_SS0_UART3_DTE_CTS_B     0x0

                //MX8MM_IOMUXC_ECSPI1_SS0_UART3_DCE_RTS_B
                //MX8MM_IOMUXC_ECSPI1_MISO_UART3_DCE_CTS_B
            >;
        };

        pinctrl_pcie0: pcie0grp {
            fsl,pins = <
                //MX8MM_IOMUXC_I2C4_SCL_PCIE1_CLKREQ_B       0x61 /* open drain, pull up */
                //MX8MM_IOMUXC_UART4_RXD_PCIE1_CLKREQ_B      0x61 /* open drain, pull up */
                //MX8MM_IOMUXC_GPIO1_IO05_GPIO1_IO5          0x41
                MX8MM_IOMUXC_SAI1_TXD1_GPIO4_IO13            0x41    /* reset line */
            >;
        };

    };
};

&ecspi2 {
    #address-cells = <1>;
    #size-cells = <0>;
    num-cs = <1>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi2>;
    cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>;
    status = "okay";

    can@0 {
        compatible = "microchip,mcp25xxfd";
        reg = <0>;
        clocks = <&can0_osc>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_can_int>;
        spi-max-frequency = <20000000>;
        interrupts-extended = <&gpio4 16 IRQ_TYPE_LEVEL_LOW>;
    };

};

&uart3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart3>;
    uart-has-rtscts;
    linux,rs485-enabled-at-boot-time;
    //rs485-rts-active-low;
    //rs485-rx-during-tx;
    status = "okay";
};

&sai3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_sai3>;
    clocks = <&clk IMX8MM_CLK_SAI3_IPG>, <&clk IMX8MM_CLK_DUMMY>,
        <&clk IMX8MM_CLK_SAI1_ROOT>, <&clk IMX8MM_CLK_DUMMY>,
        <&clk IMX8MM_CLK_DUMMY>, <&clk IMX8MM_AUDIO_PLL1_OUT>,
        <&clk IMX8MM_AUDIO_PLL2_OUT>;
    clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
    assigned-clocks = <&clk IMX8MM_CLK_SAI3>;
    assigned-clock-parents = <&clk IMX8MM_AUDIO_PLL1_OUT>;
    assigned-clock-rates = <12288000>;
    fsl,dataline =  <1 0x02 0x01>;
    status = "okay";
};

&csi1_bridge {
    fsl,mipi-mode;
    status = "okay";
    port {
        csi1_ep: endpoint {
            remote-endpoint = <&csi1_mipi_ep>;
        };
    };
};

&i2c1 {
    clock-frequency = <400000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c1>;
    status = "okay";

    codec_nau8822: nau8822@1a {
        compatible = "nuvoton,nau8822";
        reg = <0x1a>;
        #sound-dai-cells = <0>;
    };

    ov5647_mipi: ov5647_mipi@36 {
        compatible = "ovti,ov5647_mipi";
        reg = <0x36>;
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_csi_pwn>;
        clock-names = "csi_mclk";
        assigned-clocks = <&clk IMX8MM_CLK_CLKO1>;
        assigned-clock-parents = <&clk IMX8MM_CLK_24M>;
        assigned-clock-rates = <24000000>;
        csi_id = <0>;
        rst-gpios = <&gpio4 8 GPIO_ACTIVE_LOW>;
        mclk = <24000000>;
        mclk_source = <0>;
        port {
            ov5647_mipi1_ep: endpoint {
                remote-endpoint = <&mipi1_sensor_ep>;
            };
        };
    };
};

&i2c2 {
    pcf85263@51 {
        compatible = "nxp,pcf85263";
        reg = <0x51>;
    };
};

&mipi_dsi {
    panel@0 {
        pinctrl-0 = <&pinctrl_panel_reset_adv>;
        reset-gpios = <&gpio5 22 GPIO_ACTIVE_LOW>;
    };
};

&mipi_csi_1 {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";
    port {
        mipi1_sensor_ep: endpoint@1 {
            remote-endpoint = <&ov5647_mipi1_ep>;
            data-lanes = <2>;
            csis-hs-settle = <13>;
            csis-clk-settle = <2>;
            csis-wclk;
        };

        csi1_mipi_ep: endpoint@2 {
            remote-endpoint = <&csi1_ep>;
        };
    };
};

&pcie0{
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pcie0>;
    //disable-gpio = <&gpio1 5 GPIO_ACTIVE_LOW>;
    reset-gpio = <&gpio4 13 GPIO_ACTIVE_LOW>;
    clocks = <&clk IMX8MM_CLK_PCIE1_ROOT>,
         <&clk IMX8MM_CLK_PCIE1_AUX>,
         <&clk IMX8MM_CLK_PCIE1_PHY>,
         <&pcie0_refclk>;
    clock-names = "pcie", "pcie_aux", "pcie_phy", "pcie_bus";
    reserved-region = <&rpmsg_reserved>;
    ext_osc = <0>;
    status = "okay";
};
