// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2020 SomLabs
 *
 */

/ {

    panel_backlight: panel-backlight {
        compatible = "pwm-backlight";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_panel_backlight_en>;
        pwms = <&pwm2 0 100000 0>;

        brightness-levels = < 0  1  2  3  4  5  6  7  8  9
                             10 11 12 13 14 15 16 17 18 19
                             20 21 22 23 24 25 26 27 28 29
                             30 31 32 33 34 35 36 37 38 39
                             40 41 42 43 44 45 46 47 48 49
                             50 51 52 53 54 55 56 57 58 59
                             60 61 62 63 64 65 66 67 68 69
                             70 71 72 73 74 75 76 77 78 79
                             80 81 82 83 84 85 86 87 88 89
                             90 91 92 93 94 95 96 97 98 99
                             100>;
        default-brightness-level = <80>;

        enable-gpios = <&gpio5 5 0>;
    };

};

&iomuxc {

    pinctrl_panel_backlight_en: panel_backlight_en {
        fsl,pins = <
            MX8MM_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5            0x19
        >;
    };

    pinctrl_panel_backlight_pwm: panel_backlight_pwm {
        fsl,pins = <
            MX8MM_IOMUXC_SPDIF_RX_PWM2_OUT                  0x19
        >;
    };

    pinctrl_touch: touchgpio {
        fsl,pins = <
            MX8MM_IOMUXC_UART1_TXD_GPIO5_IO23               0x41    /* interrupt */
            MX8MM_IOMUXC_SPDIF_TX_GPIO5_IO3                 0x19    /* reset */
        >;
    };

};

&pwm2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_panel_backlight_pwm>;
    status = "okay";
};

&i2c2 {

    ph720128t003_touch: edt-ft5x06@38 {
        compatible = "edt,edt-ft5406", "edt,edt-ft5x06";
        reg = <0x38>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_touch>;
        interrupt-parent = <&gpio5>;
        interrupts = <23 IRQ_TYPE_EDGE_FALLING>;
        reset-gpios = <&gpio5 3 GPIO_ACTIVE_LOW>;
        touchscreen-size-x = <720>;
        touchscreen-size-y = <1280>;
    };

};

&mipi_dsi {
    status = "okay";

    panel@0 {
        pinctrl-names = "default";
        compatible = "powertip,ph720128t003";
        reg = <0>;
        backlight = <&panel_backlight>;
        status = "okay";
    };
};
