// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2020 SomLabs
 *
 */

&i2c2 {

    ph720128t003_touch: edt-ft5x06@38 {
        compatible = "edt,edt-ft5406", "edt,edt-ft5x06";
        reg = <0x38>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_touch>;
        interrupt-parent = <&gpio5>;
        interrupts = <23 IRQ_TYPE_EDGE_FALLING>;
        reset-gpios = <&gpio5 3 GPIO_ACTIVE_LOW>;
        touchscreen-size-x = <720>;
        touchscreen-size-y = <1280>;
    };

};

&mipi_dsi {
    status = "okay";

    panel@0 {
        pinctrl-names = "default";
        compatible = "powertip,ph720128t003";
        reg = <0>;
        backlight = <&panel_backlight>;
        status = "okay";
    };
};
